<div class="bg-gray-100 p-4">
    <h4 class="text-lg font-semibold mb-4">Formulario de Contacto</h4>

    <form action="" class="space-y-4">
        <input type="email" placeholder="Ingresa tu correo electrónico" class="border rounded-md py-2 px-4 focus:outline-none focus:border-blue-500">
        <textarea name="" id="" placeholder="Haz tu consulta" class="border rounded-md py-2 px-4 h-32 focus:outline-none focus:border-blue-500"></textarea>
        <button class="bg-blue-500 hover:bg-blue-600 text-white font-semibold py-2 px-4 rounded-md">Consultar</button>
    </form>
</div>
<style>
form {
    display: flex;
    flex-direction: column;
    gap :1rem;
    flex:1fr;
    
}

</style>