---
import Phone from "../icons/Phone.astro";
import InforAtencion from "./InfoAtencion.astro";
---

<section class="contenido-header">
  <div class="animate__animated animate__fadeInLeft">
    <h1 class="text text-blue-800">Sonríe con confianza Tu Sonrisa, Nuestra Pasión</h1>
    <p class="text-justify text-gray-700"></p>
      Bienvenido a nuestra clínica dental, donde tu sonrisa es nuestra
      prioridad.
    
    
      Descubre nuestra dedicación a tu salud bucal y la belleza de tu sonrisa.
      Con tratamientos diseñados para tu comodidad y resultados excepcionales,
      estamos aquí para cuidarte y hacerte sentir seguro en cada visita. ¡Únete
      a nosotros en el camino hacia una sonrisa radiante y saludable!
    </p>

    <InforAtencion />
  </div>
  <div class="image-card">
    <img
      width="230"
      src="https://media.istockphoto.com/id/1496615764/es/foto/joven-alegre-con-anteojos-sonriendo-y-mirando-a-la-c%C3%A1mara.jpg?s=1024x1024&w=is&k=20&c=JvOuWPeAv7HSmVXyWTHKOBDb_pyHpDZQOlTt3DAhgks="
      alt=""
    />
    <img
      width="230"
      src="https://media.istockphoto.com/id/503190435/es/foto/columbia-ni%C3%B1a-divertirse-aspecto.jpg?s=1024x1024&w=is&k=20&c=Wl63r2mVN6izKn4NCNOLvZU2codHgpH9zKQHyZyrhsQ="
      alt=""
    />
    <span>Atrevete a sonreir</span>
  </div>
</section>
<style>
  h1 {
    font-size: 3.5vw; /* Tamaño de fuente responsivo */
    margin-bottom: 0.5rem; /* Espaciado inferior para separar del siguiente elemento */
  }

  h3 {
    font-size: 1.5rem; /* Tamaño de fuente para el subtítulo */
    margin-bottom: 1rem; /* Espaciado inferior para separar del párrafo */
  }

  p {
    font-size: 1.1rem; /* Tamaño de fuente para el párrafo */
    margin-bottom: 1.5rem; /* Espaciado inferior para separar del siguiente elemento */
  }

  .contenido-header {
    display: grid;

    grid-template-columns: repeat(auto-fit, minmax(560px, 1fr));
    align-items: flex-start;
    justify-items: center;
    gap: 1rem; /* Espaciado entre elementos */
    padding-bottom: 1rem;
  }

  .image-card {
    background-color: blue;
    width: 350px;
    border-radius: 23px;
    opacity: 0.4; /* Opacidad sin el uso de 'calc' */
    height: 500px;
    color: white;
    font-size: 2rem; /* Tamaño de fuente para el texto dentro de .image-card */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
</style>
