---
import "animate.css";
import Navigation from "../layouts/Navegation.astro";
import HeaderContent from "./HeaderContent.astro";
import { info } from "../data.json";
import ScrollerInfiti from "./ScrollerInfiti.astro";
const [phone] = info;
---

<header
id="home"
  class="inset-0 -z-10 h-full w-full bg-white bg-[linear-gradient(to_right,#f0f0f0_1px,transparent_1px),linear-gradient(to_bottom,#f0f0f0_1px,transparent_1px)] bg-[size:6rem_4rem]"
>
  <div
    class="bottom-0 left-0 right-0 top-0 bg-[radial-gradient(circle_500px_at_50%_200px,#C9EBFF,transparent)]"
  >
    <Navigation />
    <HeaderContent />
    <ScrollerInfiti />
  </div>
</header>
<style>
  header {
    width: 100%;

    padding: 1rem;
    font-size: 1.2rem; /* Ajustado para una mejor legibilidad en dispositivos */
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif; /* Fuente más legible y responsiva */
    margin-bottom: 4rem;
  }
</style>
