---
import Clock from "../icons/Clock.astro";
import Phone from "../icons/Phone.astro";
import Calendar from "../icons/Calendar.astro";
import { info, atencion } from "../data.json";
const { phone } = info[0];
---

<section>
  {
    atencion.map(({ name, hora, dias, slug }) => {
      let emoji;
      switch (slug) {
        case "hr":
          emoji = "⏰"; // Reloj
          break;
        case "rc":
          emoji = "📒"; // Libreta
          break;
        case "se":
          emoji = "🚑"; // Ambulancia
          break;
        default:
          emoji = "❓"; // Emoji por defecto si no coincide ningún caso
      }

      return (
        <div>
          <span>{emoji}</span>  <span class="font-mono">{name}:</span>
          <p class="underline text-slate-500">{dias}</p>
         <time class="text-slate-400">{hora}</time>
          
        </div>
      );
    })
  }
</section>


