---
import { servicios } from "../data.json";

import Items from "../components/ItemService.astro";
---

<section class="mb-8">
  <h2 class="text-2xl font-bold text-center bg">Nuestros Servicios</h2>

  <div class="grid grid-cols-3 gap-4">
    {
      servicios &&
        servicios.map(({name,desc}) => (
        <div  class="bg-white p-6 rounded-lg shadow-md border-4 border-l-teal-700 ">
        <h3 class="text-lg font-bold mb-2">{name} 💼</h3>
        <p class="text-gray-600">{desc}</p>
      </div>
        ))
    }


  </div>
  <style>
    section {
    }

    .list-services {
      overflow: hidden;
      border: 1px solid red;
      width: 80%;
    }

    .wrapper {
      display: grid;
      grid-auto-flow: column;
      grid-template-columns: repeat(
        auto-fit,
        minmax(15rem, 1fr)
      ); /* Adjusts column width based on content */
      place-content: center;
      justify-items: center;
      width: 90%; /* Fixed width for the grid */
    }

    @keyframes scroll {
      to {
        translate: -30rem; /* Matches total width of wrapper (15rem) * 2 */
      }
    }

    .wrapper {
      animation: scroll 15s linear infinite;
    }

    /* Resume animation onmouseout */
    .services:hover {
      pointer-events: auto; /* Allows animation to resume on mouseout */
      background-color: rgb(189, 194, 194);
    }

    .wrapper:hover {
      animation-play-state: paused;
    }
  </style>
</section>
