---
import Faceboock from "../icons/Faceboock.astro";
import Instagram from "../icons/Instagram.astro";
import Linkedin from "../icons/Linkding.astro";

---
<section>
    
    <Faceboock/>
    <Instagram/>
    <Linkedin/>
    
    
</section>
<style>
    section{
        display: flex;
        font-size: 12px;
    }
     
</style>