---
import { Image } from 'astro:assets';
import logo from "../images/logo.png"


---
<nav >   
    <Image src={logo}  width="150" height="50" alt="Una Imagen de prueba"></Image>

    <ul class="text-blue-950 text-current cursor-pointer">
      <li> <a href="#home">Home</a></li>
      <li><a href="#servicios">Servicios</a></li>
      <li><a href="#nosotros">Nosotros</a></li>
      <li><a href="#footer">Contacto</a></li>
      
    </ul>
    <ul>
      <!-- <Phone /><a href=`tel:+57${phone.phone}`> +57 {phone.phone}</a> -->
   <!--    <li>
        <button>Agendar cita</button>
      </li> -->
    </ul>
  </nav>
  <style>
    
  nav {

    color: rgb(64, 64, 170);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
   
    width: 90vw;
  }
  ul {
    margin: 1rem;
    display: flex;
   
    justify-content: flex-start;
    align-items: center;
    list-style: none;
    font-size: larger;
    font-weight: bold;
    gap: 1rem;
    /* align-content: center; */
  }
  button {
    border: solid 1px rgb(29, 17, 97);
    border-radius: 20px;
    padding: 0.75rem;
  }
  button:hover {
    background-color: rgb(40, 40, 110);
    color: white;
    border: 1px solid white;
  }

  .items > li:hover {
    /* text-decoration: underline; */
    font-size: larger;
    cursor: pointer;
    transition: ease;
  }

  @media (max-width: 400px) {
 .menu{
    background-color: aliceblue;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    top: 0;
    left: 0;
    position: absolute;
    width: 80%;
    height: 100%;
     
 }   
  .close{
left: -380px;
  }
 ul{
    justify-content: flex-start;
        flex-direction: column;
    }
  }
  </style>